<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/resources/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resources/favicon.svg" />
    <link rel="shortcut icon" href="/resources/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Wishstar" />
    <link rel="manifest" href="/resources/site.webmanifest" />

    <meta name="title" content="💫 Wishstar" />
    <meta name="description" content="Lyvielle's and her boyfriends private wishlist 💖" />
    <meta name="theme-color" content="#FE8069">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://wishstar.lyvielle.me/" />
    <meta property="og:title" content="💫 Wishstar" />
    <meta property="og:description" content="Lyvielle's and her boyfriends private wishlist 💖" />
    <meta property="og:image" content="/resources/wishstar_banner.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://wishstar.lyvielle.me/" />
    <meta property="twitter:title" content="💫 Wishstar" />
    <meta property="twitter:description" content="Lyvielle's and her boyfriends private wishlist 💖" />
    <meta property="twitter:image" content="/resources/wishstar_banner.png" />
    <meta property="og:url" content="https://wishstar.lyvielle.me/">

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Wishstar.styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>